body {
    margin: 0;
    height: 100%;
    width: 100%;

}

/*NAVIGATION*/
.navigation {
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
}
.top {
    background-color: #5F0044;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
}
.navigation a {
    color: aliceblue;
    text-decoration: none;
    padding-top: 20px;
    font-family: 'Indie Flower', cursive;
}
.navigation a:hover {
    color: aqua;
}

#logo {
    max-height: 70px;
}

section img {
    width: 20vw;
}

/* HEROE IMAGE */

.containergrid {
    display: grid;
    grid-template-rows: 100% 1fr;
}

.heroe {
    background-image: url(imgs/Heroeimage.jpeg);
    grid-row-start: 1;
    grid-row-end: 2;
    height: 600px;
    margin-bottom: 50px;

}

.heroe h1 {
    text-align: center;
    margin-top: 210px;
    font-family: 'Indie Flower', cursive;
    font-size: 60px;

}
.container {
    grid-row-start: 2;
    grid-row-end: 3;
}


@media only screen and (max-device-width: 1024px) {
    .parallax {
        background-attachment: scroll;
    }
}


/*CARDS LAYOUT */

@media only screen and (min-device-width: 1224px) {
    section {
    padding-right: 30px;
    padding-left: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    text-align: center;

}
}


@media (max-width: 1200px) {
    section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    text-align: center;

}

section img {
    width: 45vw;
}

}

@media (max-width: 500px) {
    section {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0 auto;
    text-align: center;

}

section img {
    width: 80vw;
}
}

/*STYLE CARDS */

article {
    background-color:beige;
}

.menu-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.menu-des {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}

.name {

}

.price {

}

.alcohol{
    display: none;
}

.soldOut {
    display: none;
}

.discount {
    display: none;
}
.vegetarian {
    display: none;
}
