body {
    margin: 0;
    font-family: 'Roboto', sans-serif;

}

/*NAVIGATION*/
.navigation {
    display: flex;
    justify-content: space-around;
    grid-column-start: 2;
}
.top {
    background-color: #5F0044;
    position: fixed;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 70px;
}
.navigation a {
    color: aliceblue;
    text-decoration: none;
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
}
.navigation a:hover {
    color: aqua;
}

#logo {
    max-height: 70px;
}

.cloned img {
    width: 10vw;
}

/* HEROE IMAGE */

.containergrid {
    display: grid;
    grid-template-rows: 100% 1fr;
}

.heroe {
    background-image: url(imgs/Heroeimage.jpeg);
    grid-row-start: 1;
    grid-row-end: 2;
    height: 450px;
    margin-bottom: 50px;

}

.heroe h1  {
    text-align: center;
    margin-top: 110px;
    font-family: 'Baloo Bhaijaan', cursive;
    font-size: 60px;
    margin-bottom: 0;

}
.heroe h2 {
    text-align: center;
    font-family: 'Pacifico', cursive;
}
.container {
    grid-row-start: 2;
    grid-row-end: 3;

}



/*CARDS LAYOUT */
@media (min-width: 100px) {
        .cloned img {
   width: 50vw;
}
}


@media (min-width: 600px) {
        .cloned img {
   width: 50vw;
}
    @media (min-width: 900px) {
        .cloned img {
   width: 30vw;
}
  }
/*STYLE CARDS */

article {
    border: solid 15px ;
    margin: 3em;
    padding-bottom: 30px;
}

.menu-header {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.menu-des {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 40px;
}
.discountbar {
    text-decoration: line-through;
}
.name {

}

.price {

}

.alcohol{
    display: none;
}

.soldOut {
    display: none;
}

.discount {
    display: none;
    color: green
}
.vegetarian {
    display: none;
}
.reduction {
    display: none;
    color: red;

}
#header-cat {
    text-transform: uppercase;
    border-bottom: solid 2px #5F0044 ;
    width: 20%;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* MODAL */

.modal {
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
        width: 80%; /* Could be more or less, depending on screen size */}
.hide {
    display: none;
}

article {
    text-align: center;
}
